<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, qui quo laborum nisi doloribus, maxime ipsa
            delectus saepe unde nobis laboriosam provident perspiciatis eius sint ducimus ut sequi harum soluta ab. Eius
            inventore labore ex eveniet impedit provident sequi aliquam.
        </p>
    </div>
</div>