<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node Js and Mongodb</h1>
    <p class="lead">App make with NodeJs, Mongodb, VsCode and other things</p>
    <hr class="my-4">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eveniet ratione labore placeat perferendis illum obcaecati
        quis tempore nobis, temporibus magnam debitis eaque sapiente distinctio magni, 
        cupiditate enim maiores sit voluptatum.
    </p>
    <a href="http://luisortega.com.ve" class="btn btn-primary btn-lg" target="_blank">My Site</a>
</div>